.mat-sidenav-container {
  height: 100%;
  background: white;
}
.mat-sidenav {
  width: 180px;
}
.main {
  position: relative;
  margin-top: 80px;
  z-index: 5;
}
.mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: #ffffff; /* change header color */
  border-width: 1px;
  overflow-x: hidden;
  width: 100%;
  height: 80px;
  padding: 0px 2vw;
  /* border-bottom: solid 5px yellow; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* border-bottom: 3px solid #ffff1f; */
  border-image: url(../../../assets/img/borderBg.svg);
  border-image-source: url(../../../assets/img/borderBg.svg);
  border-image-slice: 20;
  border-image-width: 10;
  border-image-outset: 1;
  border-image-repeat: round;
  border-image-slice: 20;
  border-image-width: 10;
  border-image-outset: 1;
  border-image-repeat: round;
}

.header--logo {
  vertical-align: middle;
  cursor: pointer;
  /* UX enhancement */
  padding-left: 4%;
  /* UX enhancement end */
}

.spacer {
  flex: 1 1 auto;
}
.list-item > .mat-list-item {
  color: rgb(0, 0, 0) !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}
.list-item {
  display: inline-flex;
  padding: 0px;
  margin-left: 25px;
}
.icon {
  color: #fff !important;
}
.sidenav-list > .mat-list-item {
  color: black;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif !important;
}

.header__actions {
  text-transform: none !important;
}

@media (min-width: 670px) {
  .sidenav-button {
    display: none;
  }
}
@media (max-width: 670px) {
  .list-item {
    display: none;
  }
}
